Intermediate/
Saved/Logs/UnrealVersionSelector-2023.04.23-13.41.21.log
Saved/Logs/UnrealVersionSelector-2023.04.23-13.41.21.json
Saved/
.vs/
Binaries/
.idea/
.vsconfig
Platforms/HoloLens/Config/HoloLensEngine.ini
